/* Dark mode colors. */
:root {
	--sl-color-accent-low: #460b05;
	--sl-color-accent: #c60e00;
	--sl-color-accent-high: #feb3a6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f3eced;
	--sl-color-gray-2: #c8bfc2;
	--sl-color-gray-3: #97878b;
	--sl-color-gray-4: #625457;
	--sl-color-gray-5: #413438;
	--sl-color-gray-6: #2f2326;
	--sl-color-black: #1c1618;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc8be;
	--sl-color-accent: #c90e00;
	--sl-color-accent-high: #640300;
	--sl-color-white: #1c1618;
	--sl-color-gray-1: #2f2326;
	--sl-color-gray-2: #413438;
	--sl-color-gray-3: #625457;
	--sl-color-gray-4: #97878b;
	--sl-color-gray-5: #c8bfc2;
	--sl-color-gray-6: #f3eced;
	--sl-color-gray-7: #f9f5f6;
	--sl-color-black: #ffffff;
}